body {font-family: Arial, Helvetica, sans-serif;}

button:hover {
    opacity: 0.8;
}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

p.message {
    margin-top: -1px;
    margin-bottom: -1px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

button:disabled:not(.nohover),
button[disabled]{
    background-color: #edf7ee;
    color: white;
}

button:hover {
    background-color: #2f6a31;
    color: white;
}